*{
    margin:0;
    padding: 0;

}
.banner_top{
    background-image:url(image/bg.jpg);
    height: 600px;
    background-size: cover;
    position: relative;
}
.banner_top:before{
    content: ' ';
    background-image: -webkit-linear-gradient(left, #000000cc 0%, #4f4d4d24 50%, #000000a3 100%);
    position:absolute;
    width: 100%;
    height: 100%;
}
.banner_top ._3cot{
    display: flex;
    position:absolute;
    width: 100%;

}
.banner_top ._3cot ._1cot{
    width: 33.33%;
}
.banner_top ._3cot ._1cot.cottrai{ }
.banner_top ._3cot ._1cot.cottrai a{ 
    font-size: 20px;
    padding: 30px 35px;
    display: inline-block;
    color: white;
}
.banner_top ._3cot ._1cot.cottrai a:hover{
    color: #0345bf;
 }

.banner_top ._3cot ._1cot.cotgiua{ 
    text-align: center;


}
.banner_top ._3cot ._1cot.cotgiua img{
    padding-top: 30px;
    height: 30px;

}
.banner_top ._3cot ._1cot.cotphai {
    text-align: right; 
    margin-top: 20px;   
    margin-right: 20px; }
.banner_top ._3cot ._1cot.cotphai a{
    color: white;
    font-size: 20px;
    padding: 15px 5px;

    display: inline-block;
}
.banner_top .text_banner{
    position: absolute;
    width: 100%;
    top: 30%;
    color: white;
}
.banner_top .text_banner .content{
    width: 1170px;
    margin: auto;

}
.banner_top .text_banner .content .small{
    
    
    font-family: "Amiri";
    margin-top: 20px;
    color: #ffffff;
    font-size: 19px;
    line-height: 30px;
    font-weight: 400;


}
.banner_top .text_banner .content h1{
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    line-height: 59px;
    width: 50%;
}

/* end css toop */

