*{
    margin:0;
    padding: 0;

}
.banner_top{
    background-image:url(image/bg.jpg);
    height: 600px;
    background-size: cover;
}
.banner_top ._3cot{}
.banner_top ._3cot ._1cot{}
.banner_top ._3cot ._1cot.cottrai{ }
.banner_top ._3cot ._1cot.cottrai a{ }
.banner_top ._3cot ._1cot.cottrai a:hover{ }

.banner_top ._3cot ._1cot.cotgiua{ }
.banner_top ._3cot ._1cot.cotgiua img{}
.banner_top ._3cot ._1cot.cotphai { }

