*{
    margin:0;
    padding: 0;

}
.banner_top{
    background-image:url(image/bg.jpg);
    height: 600px;
    background-size: cover;
}
.banner_top ._3cot{
    display: flex;
}
.banner_top ._3cot ._1cot{
    width: 33.33%;
}
.banner_top ._3cot ._1cot.cottrai{ }
.banner_top ._3cot ._1cot.cottrai a{ 
    font-size: 20px;
    padding: 30px 35px;
    display: inline-block;
    color: white;
}
.banner_top ._3cot ._1cot.cottrai a:hover{
    color: #0345bf;
 }

.banner_top ._3cot ._1cot.cotgiua{ 
    text-align: center;


}
.banner_top ._3cot ._1cot.cotgiua img{
    padding-top: 30px;
    height: 30px;

}
.banner_top ._3cot ._1cot.cotphai {
    text-align: right; 
    margin-top: 20px;   
    margin-right: 20px; }
.banner_top ._3cot ._1cot.cotphai a{
    color: white;
    font-size: 20px;
    padding: 15px 5px;

    display: inline-block;
}


