*{

    font-family: "Function Pro";
}
.product{

    font-size: 13px;
    width: 360px;
    height: 460px;
    position: relative;

}
.product .layer1 {
    width: 360px;
    height: 460px;
}

.product .color{
    position: absolute;
    background-color: #edefef;
    left: 0px;

    top: 0px;

    width: 360px;
    height: 460px;
    opacity: 0;
    transition: 0.4s;
    border: 10px black solid;
}
.product .text1 {
    position: absolute;
    font-size: 30px;
    left: 40px;
    bottom: 60px;
    transition: 0.4s;
    color: rgb(143, 67, 250);
    font-weight: bold;

    opacity: 0; 
    

    
}
.product .text2 a{
    position: absolute;
    font-size: 20px;
    left: 40px;
    bottom: 50px;
    transition: 0.4s;
    color: rgb(143, 67, 250);
    font-style: italic;


    opacity: 0; 
    

    
}


.product:hover .icon{ opacity: 1;
    transition-delay: 0.3s;}
.product:hover .color{opacity: 1;}
.product:hover .text1 {opacity: 1;
    bottom: 80px;
    
}
.product:hover .text2 a{
    opacity: 1;
    text-decoration: none;


}
.product .text2 a:hover {
    position: absolute;
    font-size: 20px;
    left: 40px;
    bottom: 50px;
    transition: 0.4s;

}