a.chu{
    position: relative;
    text-decoration: none;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a.chu:after  {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: yellowgreen;
    transition: 0.4s;

}
a.chu:hover::after {
    width: 100%;
}