
h2{
    margin-left: 300px;
    font-family: 'Segoe UI';
    font-size:30px

}

div.content{
    margin-left: 400px;
    font-family: 'Segoe UI';
    width: 725px;
    font-size: 20px;
}

h2.con1{
    margin-left: 20px;
    font-family: 'Segoe UI'

}
p{
    font-family: 'Segoe UI'
}
div.con1{
    font-size: 15px;

    font-family: 'Segoe UI';
    color: rgb(78, 78, 78);;

}


hr{
    margin-left: -80px;
    width: 700px;
    color: rgb(175, 177, 178);
}
img.con1{


    width: 725px;
    height: 1000px;
}
div.anhghep{
    display: flex;
    width: 725px;
    height: 200px;

}
img.anhghep1{
    width: 357;
}
img.anhghep2{
    margin-left: 10px;
    width: 357px;
}
div.duoianh{
    margin-top: -15px;
    height: 30px;
    font-size: 15px;


    font-family: 'Segoe UI';
    color: rgb(78, 78, 78);;
    background-color: rgb(202, 198, 198);

}

div.anh2{

    width: 725px;
    height: 1000px;

}
div.duoianh2{
    margin-top: -15px;
    height: 30px;
    font-size: 15px;


    font-family: 'Segoe UI';
    color: rgb(78, 78, 78);;
    background-color: rgb(202, 198, 198);

}