*{
    margin: auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(155, 156, 156);
}
.bm_Q{
    display: flex;
    width: 1900px;
    height: 90px;
    background-color: rgb(255, 255, 255);
}
.logo{
    margin-left:150px ;
    width: 30%;
    background-color: rgb(255, 255, 255);

}
.logo img{
    width: 200px;
}
.form{
    margin-top: 10px;
    width: 50%;
    height: 40px;
    background-color: rgb(255, 255, 255);


}
.icon{
    width: 20%;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
}
.setting{
    margin-left: -25px;
    font-size: 18px;
    border-color: white;
    background-color: white;
    color: rgb(145, 142, 142);

}

.fa-user{

    font-size: 30px;
    background-color: white;
    border-color: white;
}
.fa-mobile
{
    font-size: 30px;
    background-color: white;
    border-color: white;
}
.botheader{
    display: flex;
    width: 1900px;
    height: 45px;
    background-color: #17a2b8;
}
.trend_news{
    margin-top: 10px;

    margin-left:300px ;
    margin-right: 300px;
    display: flex;
    height: 995px;
    background-color: white;


}
.trend_left{
    width: 70%;
    background-color: white;

}
.trend_right{
    margin-left: 10px;
    width: 28%;
    background-color: black;

}
