*{
    margin: auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
}
.bm_Q{
    display: flex;
    width: 1900px;
    height: 90px;
    background-color: rgb(255, 255, 255);
    
}
.logo{
    margin-left:150px ;
    width: 30%;
    background-color: rgb(255, 255, 255);

}
.logo img{
    width: 200px;
}
.form{
    margin-top: 10px;
    width: 50%;
    height: 40px;
    background-color: rgb(255, 255, 255);


}
.icon{
    width: 20%;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
}
.setting{
    margin-left: -25px;
    font-size: 18px;
    border-color: white;
    background-color: white;
    color: rgb(145, 142, 142);
    border-style: none;

}

.fa-user{

    font-size: 50px;
    margin-right: 10px;
    background-color: white;
    border-color: white;
    border-style: none;
}
.fa-mobile
{
    margin-left: 10px;
    font-size: 50px;
    background-color: white;
    border-color: white;
    border-style: none;
}
.botheader{
    display: flex;
    width: 1900px;
    height: 45px;
    background-color: #17a2b8;
}
.trend_news{
    margin-top: 0px;

    margin-left:300px ;
    margin-right: 300px;
    display: flex;
    height: 995px;
    background-color: white;


}
.trend_left{
    margin-top: 20px;
    width: 70%;
    background-color: white;

}
.trend_left .main img{
    width: 100%;
}
.trend_left .main a{
    font-size: 40px;
    margin-top: 10px;
}
.trend_left .main .logo_new img{
    width:8%;
}
.trend_right{
    margin-top: 20px;
    margin-left: 10px;
    width: 28%;
    background-color: white;
    border-bottom: 1px;

}
.block{

    display: flex;
    margin-bottom: 20px;
    background-color: white;

    
}
.right_l {
    margin-top: 0px;

    width: 25%;
    border-bottom: 2px
}
.right_l img{
    width: 100%;
    height: 80px;
}
.right_r{
    margin-top: 0px;
    margin-left: 10px;
    width: 65%;
    font-size: 17px;
    background-color: white;

    
}
.right_r .r_top{
    background-color: white;

}
.right_r img{
    width: 20%;
    background-color: white;
}
.right_r .r_bot{
    background-color: white;

}
a{
    color: black;
}